:root {
  padding: 0;
  margin: 0;
  font-size: 16px;
  --navigation-width: 3em;
  --svg-size: calc(var(--navigation-width) / 2);
  --entry-widget-height: 25em !important;
  --entry-widget-width: 25em !important;

  --transformOriginX: 0;
  --transformOriginY: 100vmax;

  --rich-black-fogra-39: #0d0a0bff;
  --charcoal: #454955ff;
  --ghost-white: #f3eff5ff;
  --earth-yellow: #dba159ff;
  --green-sheen: #68b0abff;

  --ff-1: "JetBrains Mono", monospace;
  --ff-2: "Major Mono Display", monospace;
  --ff-3: "Abril Fatface", cursive;
  --ff-4: "Monofett", cursive;
  --ff-5: "Oswald", sans-serif;
  --ff-6: "Inter", sans-serif;

  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.sub_nav {
  list-style: none;
  position: fixed;
  margin-left: 3rem;
  width: 10rem;
  height: 100vh;
  transition: 200ms;
}

.icon_svg {
  transition: 200ms;
}
