:root {
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 16px;
  --navigation-width: 3em;
  --category-width: 12rem;
  --svg-size: 1em;
  --entry-widget-height: 25em !important;
  --entry-widget-width: 25em !important;

  --transformOriginX: 0;
  --transformOriginY: 100vmax;

  --rich-black-fogra-39: #0d0a0bff;
  --charcoal_1: #262933;
  --charcoal: #454955ff;
  --ghost-white: #f3eff5ff;
  --ghost-white_1: #bbb8bd;
  --earth-yellow: #dba159ff;
  --green-sheen: #68b0abff;
  --accent_1: #db5a5a;
  --error-red: #ff1919;

  --ff-inter: "Inter", sans-serif;
  --ff-1: "Fira Sans", sans-serif;
  --ff-2: "Jost", sans-serif;
  --ff-3: "Cutive Mono", monospace;
  --ff-4: "Quicksand", sans-serif;
  --ff-5: "Major Mono Display", monospace;
  --ff-6: "Open Sans Condensed", sans-serif;
  --ff-7: "Lobster", cursive;
  --bc-1: "Libre Barcode 128", cursive;
  --bc-2: "Libre Barcode 39 Extended Text", cursive;

  /* overflow: hidden; */
}

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: none;
}

div,
p,
h1,
h2,
section,
svg {
  transition: 200ms;
}

.Page_container {
  margin-left: 3em;
  height: 100vh;
  width: calc(100vw - 3em);
}
