.main_nav {
  position: fixed;
  width: var(--navigation-width);
  height: 100vh;
}
.main_navigation_list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}
.main_navigation_item {
  position: relative;
  height: var(--navigation-width) !important;
}

.main_navigation_item:nth-last-child(2) {
  margin-top: auto;
}

.main_nav_link {
  display: flex;
  justify-content: center;
  width: var(--navigation-width) !important;
  height: var(--navigation-width) !important;
}
.icon_svg {
  width: var(--svg-size) !important;
}

.nav_marker {
  position: absolute;
  left: 0 !important;
  height: 3em;
  width: 2px;
  transition: 100ms;
}
